* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 10px;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

@-webkit-keyframes star-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes star-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wheel-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes smoke {
  0% {
    -webkit-transform: translate(0) scale(0.2);
            transform: translate(0) scale(0.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-15%) scale(0.8);
            transform: translateX(-15%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-55%) scale(1);
            transform: translateX(-55%) scale(1);
    opacity: 1;
  }
}

@keyframes smoke {
  0% {
    -webkit-transform: translate(0) scale(0.2);
            transform: translate(0) scale(0.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-15%) scale(0.8);
            transform: translateX(-15%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-55%) scale(1);
            transform: translateX(-55%) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes camper-up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes camper-up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

#headerGroup {
  height: 150pX;
  width: 100vw;
  position: relative;
  background-color: none;
}

#headerGroup nav {
  height: 60px;
  background-color: none;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}

#headerGroup .rainbow {
  background-color: none;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  height: 150px;
  width: auto;
  z-index: -2;
}

#headerGroup .rainbow img {
  width: auto;
  height: 100%;
}

#headerGroup .unicorn {
  background-color: none;
  position: relative;
  height: 100%;
  width: 200px;
  margin: auto;
}

#headerGroup .unicorn .wings img {
  position: absolute;
  top: auto;
  left: calc(40% / 3);
  bottom: calc(33.33333px);
  right: auto;
  bottom: calc(33.33333px);
  left: calc(40% / 3);
  width: auto;
  height: calc(50px);
  z-index: 1;
}

#headerGroup .unicorn .camper img {
  position: absolute;
  top: auto;
  left: 20%;
  bottom: 0;
  right: auto;
  width: 100%;
  height: 100px;
}

#headerGroup .unicorn .wheel img {
  position: absolute;
  top: auto;
  left: 40%;
  bottom: 0;
  right: auto;
  width: 12%;
  height: auto;
}

#headerGroup .unicorn .wheel2 img {
  position: absolute;
  top: auto;
  left: 70%;
  bottom: 0;
  right: auto;
  width: 12%;
  height: auto;
}

#headerGroup .unicorn .smoke img {
  position: absolute;
  top: auto;
  left: 8%;
  bottom: 0;
  right: auto;
  width: 30%;
  height: auto;
  opacity: 0;
  z-index: -2;
}

#headerGroup .star1 img {
  position: absolute;
  top: 12%;
  left: 67%;
  bottom: auto;
  right: auto;
  width: auto;
  height: 55px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -1;
  -webkit-animation: star-rotate 8s linear infinite;
          animation: star-rotate 8s linear infinite;
}

#headerGroup .star2 img {
  position: absolute;
  top: calc(36%);
  left: calc(83.75%);
  bottom: auto;
  right: auto;
  width: auto;
  height: calc(44px);
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: -1;
}

#headerGroup .star3 img {
  position: absolute;
  top: calc(60%);
  left: calc(70.35%);
  bottom: auto;
  right: auto;
  width: auto;
  height: calc(33px);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  z-index: -1;
}

h1 {
  font-family: Caveat, cursive;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: 60px;
  background-color: #777;
  color: #fff;
  letter-spacing: 2px;
}

.wrap {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-active {
  display: block;
}

.display {
  display: none;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 2em 3em;
  text-align: center;
  width: 90%;
  z-index: 100;
  opacity: 0.5;
}

.modal .modal-image {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 2px #48DB71;
          box-shadow: 0 0 0 2px #48DB71;
  padding: 11px 10px 2px;
  margin-bottom: 1rem;
}

.modal h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 10;
}

.modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  margin: 6px 20px;
  text-align: left;
}

.modal form div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.2rem;
  font-weight: bolder;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3rem;
}

.modal form div input {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  border-bottom: 1px solid #777;
  font-size: 1.2rem;
  padding: 5px;
}

.modal form div input:focus, .modal form div input:hover {
  border-bottom: 1px solid #CA6B4A;
}

.modal form div textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 160px;
  border: 1px solid #777;
  padding: 5px;
  resize: none;
}

.modal form div textarea:focus {
  border: 1px solid #CA6B4A;
}

.modal form div .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal form div .inputfile + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 1.25rem;
}

.modal form div .inputfile + label span {
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 4rem;
  width: 70%;
}

.modal form div .inputfile:focus + label, .modal form div .inputfile:hover + label {
  color: #CA6B4A;
}

.modal form div .inputfile + label svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  fill: #777;
}

.modal form div .inputfile:focus + label svg, .modal form div .inputfile:hover + label svg {
  fill: #CA6B4A;
}

.modal form div:last-of-type {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .btn-open {
  display: none;
}

.modal .button {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #777;
  border: none;
  padding: .5em 1em;
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px #777 inset;
          box-shadow: 0 0 0 2px #777 inset;
  border-radius: .25em;
  cursor: pointer;
  -webkit-transition: background .4s ease, color .4s ease;
  transition: background .4s ease, color .4s ease;
  z-index: 100;
  positon: relative;
}

.modal .button:hover {
  border: none;
  background-color: #FFAE4D;
  -webkit-box-shadow: 0 0 0 1px #CA6B4A inset;
          box-shadow: 0 0 0 1px #CA6B4A inset;
  color: #CA6B4A;
  background-color: transparent;
}

#maps {
  margin: 30px 0;
  width: 100vw;
  background-color: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "now past" "nowPosition lastPosition" "map map" "mapInfo mapInfo" "changeBtn postBtn";
}

#maps .tag:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: now;
}

#maps .tag:first-child:hover {
  text-decoration: underline;
  color: #FFAE4D;
}

#maps .tag:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: past;
}

#maps .tag:nth-child(2):hover {
  text-decoration: underline;
  color: #CA6B4A;
}

#maps .pin.orange {
  -webkit-filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%);
          filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%);
}

#maps .pin.red {
  -webkit-filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%);
          filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%);
}

#maps .tag {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7rem;
}

#maps .tag .pin {
  height: 4rem;
  width: auto;
}

#maps .tag div {
  font-size: 3rem;
  font-family: Caveat, cursive;
}

#maps .now {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nowPosition;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#maps .last {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: lastPosition;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
}

#maps .last .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 3rem;
}

#maps .last .arrow i {
  height: 3rem;
  line-height: 3rem;
  font-size: 1.8rem;
}

#maps .last .flex-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#maps .last .flex-scroll div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 2.5rem;
}

#maps .positionLi {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 3rem;
  font-size: 2.5rem;
  font-family: Caveat, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#maps .map {
  z-index: -1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: map;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#maps #chartdiv {
  width: 100%;
  height: 50vh;
}

#maps .mapInfo {
  margin: 0 30px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapInfo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-family: Caveat, cursive;
}

#maps .btn {
  margin: 2rem 0 3rem 0;
  height: 4rem;
  width: 16rem;
  font-family: Caveat, cursive;
  color: #fff;
  background-color: #FFAE4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  place-self: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#maps .btn:hover {
  color: #fff;
  background-color: #c25c39;
}

#maps .btn div {
  font-size: 2.8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 3rem;
  text-align: left;
  margin-left: 15px;
}

#maps .btn i {
  font-size: 2.2rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

#maps .btn:first-child {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: changeBtn;
}

#maps .btn:last-child {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: postBtn;
}

#intro {
  width: 100vw;
  background-color: none;
}

#intro img {
  width: 100%;
}

#intro .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

#intro .caption span {
  font-size: 3rem;
  font-family: Caveat, cursive;
  line-height: 8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}

#intro .caption span::first-letter {
  font-size: 4.5rem;
}

#intro .caption i {
  font-size: 7rem;
  color: #FFAE4D;
}

main {
  width: 100vw;
}

main article {
  margin: 30px 0;
  background-color: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "time h4" "h2 h2" "postImg postImg" "p1 p1" "routeMap routeMap" "mapCaption mapCaption" "p2 p2" "slider slider" "p3 p3" ". button";
  grid-gap: 10px 15px;
  width: 100%;
}

main time {
  padding-left: 30px;
  font-size: 1.6rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: time;
}

main h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h4;
  font-size: 1.6rem;
  text-transform: uppercase;
}

main h2 {
  padding: 0 30px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h2;
  font-size: 2.5rem;
  font-weight: 600;
}

main .postImg {
  margin: 0 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: postImg;
  place-self: center;
  width: calc(100% - 60px);
  height: 220px;
  border-radius: 23px;
  overflow: hidden;
  -webkit-box-shadow: 4px -4px 24px -3px rgba(0, 0, 0, 0.56);
          box-shadow: 4px -4px 24px -3px rgba(0, 0, 0, 0.56);
  position: relative;
}

main img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

main .p1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p1;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main #routeMap {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: routeMap;
  height: 400px;
  width: 100%;
}

main .mapCaption {
  margin: 0 30px;
  margin: 0 30px;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapCaption;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column no-wrap;
          flex-flow: column no-wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: cener;
      -ms-flex-align: cener;
          align-items: cener;
}

main .mapCaption span {
  font-size: 1.6rem;
}

main .mapCaption span:first-child {
  width: 15%;
}

main .mapCaption span:last-child {
  font-weight: bolder;
}

main .p2 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p2;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main .p3 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p3;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main .slider {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: slider;
  width: 100vw;
  height: 220px;
  overflow: hidden;
  position: relative;
}

main .btn {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
  grid-area: button;
  margin: 20px 30px 30px;
  height: 3.6rem;
  width: 16rem;
  color: #fff;
  background-color: #FFAE4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row no-wrap;
          flex-direction: row no-wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  border-radius: 20px;
  cursor: pointer;
}

main .btn div {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

main .btn i {
  font-size: 2rem;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.navChanger {
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
}

.navChanger div i {
  font-size: 2.5rem;
  width: 30px;
}

.navChanger ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
}

.navChanger ul li {
  font-size: 2.5rem;
  width: 30px;
}

.navChanger ul li:nth-child(2) {
  color: #CA6B4A;
}

footer {
  width: 100vw;
  background-color: #E8E8E8;
}

footer p {
  font-size: 1.4rem;
  margin: 0 30px;
  margin-top: 15px;
  text-align: justify;
}

footer .navBottom {
  font-size: 1.4rem;
  margin: 0 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .navBottom div {
  font-size: 1.4rem;
  height: 2.2rem;
  line-height: 2.2rem;
}

footer .navBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .navBottom ul li {
  line-height: 2.2rem;
  font-size: 1.4rem;
  width: 25%;
  font-weight: normal;
  text-transform: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 1;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #A2A2A2;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #A2A2A2;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font-family: Open Sans, sans-serif;
  color: #777;
  height: auto;
  margin: auto;
}

header {
  width: 100vw;
  height: auto;
}
/*# sourceMappingURL=style.css.map */