* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 10px;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

@-webkit-keyframes star-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes star-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wheel-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes smoke {
  0% {
    -webkit-transform: translate(0) scale(0.2);
            transform: translate(0) scale(0.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-15%) scale(0.8);
            transform: translateX(-15%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-55%) scale(1);
            transform: translateX(-55%) scale(1);
    opacity: 1;
  }
}

@keyframes smoke {
  0% {
    -webkit-transform: translate(0) scale(0.2);
            transform: translate(0) scale(0.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-15%) scale(0.8);
            transform: translateX(-15%) scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(-55%) scale(1);
            transform: translateX(-55%) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes camper-up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes camper-up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #FFAE4D;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #CA6B4A;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    color: #FFAE4D;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #CA6B4A;
  }
}

@-webkit-keyframes arrow-move-left {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
  50% {
    ransform: translateX(0px) scale(1);
  }
  75% {
    -webkit-transform: translateX(-10px) scale(0.9);
            transform: translateX(-10px) scale(0.9);
  }
  100% {
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}

@keyframes arrow-move-left {
  0% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  25% {
    -webkit-transform: translateX(10px) scale(1.1);
            transform: translateX(10px) scale(1.1);
  }
  50% {
    ransform: translateX(0px) scale(1);
  }
  75% {
    -webkit-transform: translateX(-10px) scale(0.9);
            transform: translateX(-10px) scale(0.9);
  }
  100% {
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  25%, 85% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  25%, 85% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

@-webkit-keyframes arrowRotate3d {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes arrowRotate3d {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

#headerGroup {
  height: 150pX;
  width: 100vw;
  position: relative;
  background-color: none;
}

#headerGroup nav {
  height: 60px;
  background-color: none;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}

#headerGroup .rainbow {
  background-color: none;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  height: 150px;
  width: auto;
  z-index: -2;
}

#headerGroup .rainbow img {
  width: auto;
  height: 100%;
}

#headerGroup .unicorn {
  background-color: none;
  position: relative;
  height: 100%;
  width: 200px;
  margin: auto;
}

#headerGroup .unicorn .wings img {
  position: absolute;
  top: auto;
  left: calc(40% / 3);
  bottom: calc(33.33333px);
  right: auto;
  bottom: calc(33.33333px);
  left: calc(40% / 3);
  width: auto;
  height: calc(50px);
  z-index: 1;
  -webkit-animation: camper-up-down 2s linear infinite alternate;
          animation: camper-up-down 2s linear infinite alternate;
}

#headerGroup .unicorn .camper img {
  position: absolute;
  top: auto;
  left: 20%;
  bottom: 0;
  right: auto;
  width: 100%;
  height: 100px;
  -webkit-animation: camper-up-down 2s linear infinite alternate;
          animation: camper-up-down 2s linear infinite alternate;
}

#headerGroup .unicorn .wheel img {
  position: absolute;
  top: auto;
  left: 40%;
  bottom: 0;
  right: auto;
  width: 12%;
  height: auto;
  -webkit-animation: wheel-rotate 8s linear infinite;
          animation: wheel-rotate 8s linear infinite;
}

#headerGroup .unicorn .wheel2 img {
  position: absolute;
  top: auto;
  left: 70%;
  bottom: 0;
  right: auto;
  width: 12%;
  height: auto;
  -webkit-animation: wheel-rotate 8s linear infinite;
          animation: wheel-rotate 8s linear infinite;
}

#headerGroup .unicorn .smoke img {
  position: absolute;
  top: auto;
  left: 8%;
  bottom: 0;
  right: auto;
  width: 30%;
  height: auto;
  opacity: 0;
  -webkit-animation: smoke 5s linear 0s infinite;
          animation: smoke 5s linear 0s infinite;
  z-index: -2;
}

#headerGroup .star1 img {
  position: absolute;
  top: 12%;
  left: 67%;
  bottom: auto;
  right: auto;
  width: auto;
  height: 55px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: -1;
  -webkit-animation: star-rotate 8s linear infinite;
          animation: star-rotate 8s linear infinite;
}

#headerGroup .star2 img {
  position: absolute;
  top: calc(36%);
  left: calc(83.75%);
  bottom: auto;
  right: auto;
  width: auto;
  height: calc(44px);
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: -1;
  animation: star-rotate 5s linear reverse infinite;
}

#headerGroup .star3 img {
  position: absolute;
  top: calc(60%);
  left: calc(70.35%);
  bottom: auto;
  right: auto;
  width: auto;
  height: calc(33px);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  z-index: -1;
  -webkit-animation: star-rotate 5s linear infinite;
          animation: star-rotate 5s linear infinite;
}

h1 {
  font-family: Caveat, cursive;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: 60px;
  background-color: #777;
  color: #fff;
  letter-spacing: 2px;
}

@media (min-device-width: 1025px) {
  #headerGroup {
    height: 200px;
  }
  #headerGroup nav {
    height: 120px;
    position: absolute;
    top: 20px;
    left: auto;
    bottom: auto;
    right: 20px;
  }
  #headerGroup .rainbow {
    height: 200px;
  }
  #headerGroup .unicorn {
    background-color: none;
    position: relative;
    height: 100%;
    width: 300px;
    margin: auto;
  }
  #headerGroup .unicorn .wings img {
    bottom: 50px;
    left: calc(40% / 3);
    height: 80px;
  }
  #headerGroup .unicorn .camper img {
    height: 200px;
  }
  #headerGroup .unicorn .wheel img {
    position: absolute;
    top: auto;
    left: 30%;
    bottom: 0;
    right: auto;
    width: 50px;
  }
  #headerGroup .unicorn .wheel2 img {
    position: absolute;
    top: auto;
    left: 70%;
    bottom: 0;
    right: auto;
    width: 50px;
    height: auto;
    -webkit-animation: wheel-rotate 8s linear infinite;
            animation: wheel-rotate 8s linear infinite;
  }
  h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    line-height: 8rem;
    letter-spacing: 4px;
    text-shadow: 1px 1px 4px whitesmoke;
  }
}

.wrap {
  position: fixed;
  top: 10px;
  left: -100vw;
  width: 100vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-active {
  display: block;
}

.display {
  display: none;
}

.modal {
  position: relative;
  background-color: #fff;
  padding: 2em 3em;
  text-align: center;
  width: 90%;
  z-index: 100;
  opacity: 0.5;
  height: 95vh;
  overflow: scroll;
}

.modal .close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  top: 2px;
  right: 2px;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  font-size: 4rem;
  font-weight: bold;
}

.modal .close:hover {
  -webkit-animation: scale 0.5s linear  alternate;
          animation: scale 0.5s linear  alternate;
  color: #CA6B4A;
}

.modal h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1.5em 0;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 10;
}

.modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  margin: 6px 20px;
  text-align: left;
}

.modal form div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.2rem;
  font-weight: bolder;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3rem;
}

.modal form div input {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  border-bottom: 1px solid #777;
  font-size: 1.2rem;
  padding: 5px;
}

.modal form div input:focus, .modal form div input:hover {
  border-bottom: 1px solid #CA6B4A;
}

.modal form div textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 160px;
  border: 1px solid #777;
  padding: 5px;
  resize: none;
}

.modal form div textarea:focus {
  border: 1px solid #CA6B4A;
}

.modal form div .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.modal form div .inputfile + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 1.25rem;
}

.modal form div .inputfile + label span {
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 4rem;
  width: 70%;
}

.modal form div .inputfile:focus + label, .modal form div .inputfile:hover + label {
  color: #CA6B4A;
}

.modal form div .inputfile + label svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  fill: #777;
}

.modal form div .inputfile:focus + label svg, .modal form div .inputfile:hover + label svg {
  fill: #CA6B4A;
}

.modal form div:last-of-type {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .btn-open {
  display: none;
}

.modal .button {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #777;
  border: none;
  padding: .5em 1em;
  color: #fff;
  -webkit-box-shadow: 0 0 0 2px #777 inset;
          box-shadow: 0 0 0 2px #777 inset;
  border-radius: .25em;
  cursor: pointer;
  -webkit-transition: background .4s ease, color .4s ease;
  transition: background .4s ease, color .4s ease;
  z-index: 100;
  positon: relative;
}

.modal .button:hover {
  border: none;
  background-color: #FFAE4D;
  -webkit-box-shadow: 0 0 0 1px #CA6B4A inset;
          box-shadow: 0 0 0 1px #CA6B4A inset;
  color: #CA6B4A;
  background-color: transparent;
}

@media (min-device-width: 1025px) {
  .modal {
    width: 60%;
    max-width: 800px;
  }
}

#maps {
  margin: 30px 0;
  width: 100vw;
  background-color: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "now past" "map map" "mapInfo mapInfo" "changeBtn postBtn";
}

#maps .tag:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: now;
  width: 50vw;
}

#maps .tag:first-child:hover {
  text-decoration: underline;
  color: #FFAE4D;
}

#maps .tag:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: past;
  width: 50vw;
}

#maps .tag:nth-child(2):hover {
  text-decoration: underline;
  color: #CA6B4A;
}

#maps .pin.orange {
  -webkit-filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%);
          filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%);
}

#maps .pin.red {
  -webkit-filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%);
          filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%);
}

#maps .tag {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7rem;
}

#maps .tag .pin {
  height: 3.5rem;
  width: auto;
}

#maps .tag div {
  font-size: 2.5rem;
  font-family: Caveat, cursive;
}

#maps .positionLi {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 3rem;
  font-size: 2.5rem;
  font-family: Caveat, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#maps .map {
  z-index: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: map;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

#maps #chartdiv {
  width: 90%;
  height: 60vh;
}

#maps .mapInfo {
  margin: 0 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mapInfo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-family: Caveat, cursive;
}

#maps .btn {
  margin: 2rem 0 3rem 0;
  height: 4rem;
  width: 16rem;
  font-family: Caveat, cursive;
  color: #fff;
  background-color: #FFAE4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  place-self: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#maps .btn:active {
  color: #fff;
  background-color: #c25c39;
}

#maps .btn div {
  font-size: 2.8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 3rem;
  text-align: left;
  margin-left: 15px;
}

#maps .btn i {
  font-size: 2.2rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

#maps .btn:first-child {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: changeBtn;
}

#maps .btn:last-child {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: postBtn;
}

.animateLeftArrow {
  -webkit-animation: arrow-move-left 4s linear infinite;
          animation: arrow-move-left 4s linear infinite;
}

.animateExclamation {
  -webkit-animation: shake 1.2s cubic-bezier(0.16, 0.07, 0.19, 0.5) infinite;
          animation: shake 1.2s cubic-bezier(0.16, 0.07, 0.19, 0.5) infinite;
  animation-transform: translate3d(0, 0, 0);
  animation-backface-visibility: hidden;
  animation-perspective: 1000px;
}

@media (min-device-width: 1025px) {
  #maps {
    margin-top: 160px;
    width: 80vw;
    max-width: 1200px;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "now map changeBtn" "past map postBtn"  ". map ." "mapInfo mapInfo mapInfo";
  }
  #maps .tag:first-child {
    width: 160px;
  }
  #maps .tag:nth-child(2) {
    width: 160px;
  }
  #maps .tag {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #maps .mapInfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#intro {
  width: 100vw;
  background-color: none;
}

#intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#intro .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

#intro .caption div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-family: Caveat, cursive;
  width: 7rem;
  height: 7rem;
  text-transform: uppercase;
  font-weight: bold;
}

#intro .caption div::first-letter {
  font-size: 4.5rem;
}

#intro .caption .request-loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#intro .caption .request-loader div {
  position: relative;
  font-size: 72px;
  top: 5px;
  left: -5px;
  color: red;
  background-color: none;
}

#intro .caption .request-loader div:after {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
          animation-name: ripple;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

#intro .caption .request-loader div:before {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  left: -8px;
  right: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 100%;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -webkit-animation-name: ripple;
          animation-name: ripple;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

#intro .caption .request-loader div i {
  cursor: pointer;
  font-size: 7rem;
  color: #FFAE4D;
}

#intro .caption .request-loader div i:hover {
  color: #CA6B4A;
}

@media (min-device-width: 1025px) {
  #intro img {
    width: 80%;
  }
}

main {
  width: 100vw;
}

main article {
  margin: 30px 0;
  background-color: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "time h4" "h2 h2" "postImg postImg" "p1 p1" "points points" "routeMap routeMap" "mapCaption mapCaption" "p2 p2" "slider slider" "p3 p3"  "edit delete" ".. button";
  grid-gap: 10px 15px;
  width: 100%;
}

main time {
  padding-left: 30px;
  font-size: 1.6rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: time;
}

main h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h4;
  font-size: 1.6rem;
  text-transform: uppercase;
}

main h2 {
  padding: 0 30px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h2;
  font-size: 2.5rem;
  font-weight: 600;
}

main .postImg {
  margin: 0 30px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: postImg;
  place-self: center;
  width: calc(100% - 60px);
  height: 220px;
  border-radius: 23px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 10px;
  position: relative;
}

main img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

main .p1 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: p1;
  height: 4.5rem;
  width: 100%;
  overflow: hidden;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main .points {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: points;
  width: 100%;
  padding: 0 30px;
  height: 1.5rem;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
  position: relative;
}

main .points div {
  position: absolute;
  top: -1.7rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

main .routeMap {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: routeMap;
  height: 400px;
  width: 100%;
}

main .mapCaption {
  margin: 0 30px;
  margin: 0 30px;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mapCaption;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column no-wrap;
          flex-flow: column no-wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: cener;
      -ms-flex-align: cener;
          align-items: cener;
}

main .mapCaption span {
  font-size: 1.6rem;
}

main .mapCaption span:first-child {
  width: 15%;
}

main .mapCaption span:last-child {
  font-weight: bolder;
}

main .p2 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: p2;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main .p3 {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: p3;
  padding: 0 30px;
  font-size: 1.5rem;
  text-align: justify;
}

main .slider {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: slider;
  width: 100vw;
  height: 220px;
  overflow: hidden;
  position: relative;
}

main .btn.down {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
  grid-area: button;
  margin: 20px 30px 30px;
  height: 3.6rem;
  width: 16rem;
  color: #fff;
  background-color: #FFAE4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row no-wrap;
          flex-direction: row no-wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .btn.down div {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

main .btn.down i {
  font-size: 2rem;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

main .btn.edit, main .btn.delete {
  margin: 10px;
  height: 3.6rem;
  width: 12rem;
  color: #777;
  background-color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row no-wrap;
          flex-direction: row no-wrap;
  justify-self: center;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

main .btn.edit:hover, main .btn.delete:hover {
  color: #CA6B4A;
}

main .btn.edit::after, main .btn.delete::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #CA6B4A;
  opacity: 1;
  -webkit-transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, transform 200ms;
  transition: opacity 200ms, transform 200ms, -webkit-transform 200ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

main .btn.edit:hover::after, main .btn.edit:focus::after, main .btn.delete:hover::after, main .btn.delete:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .btn.edit div, main .btn.delete div {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

main .btn.edit i, main .btn.delete i {
  font-size: 2rem;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

main .edit {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: edit;
}

main .delete {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
  grid-area: delete;
}

.elemDisplay {
  overflow: hidden;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
  height: auto;
}

.collapsed {
  max-height: 500px !important;
}

.hidden {
  max-height: 0;
}

.rotateHorizontal {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.autoHeight {
  height: auto !important;
}

@media (min-device-width: 1025px) {
  main {
    width: 80%;
    max-width: 1200px;
  }
  main article {
    margin: 30px 0;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "time h4 ." "h2 h2 h2" "postImg postImg p1" "postImg postImg points" "postImg postImg button" "routeMap routeMap routeMap" "mapCaption mapCaption mapCaption" "p2 p2 p2" "slider slider p3"  "edit delete .";
    grid-gap: 5px 15px;
  }
  main time {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: time;
    font-size: 1.8rem;
  }
  main h4 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: h4;
    font-size: 1.8rem;
  }
  main h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: h2;
    font-size: 2.8rem;
  }
  main .postImg {
    margin: 30px 30px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: postImg;
    place-self: start center;
    height: 440px;
  }
  main img {
    width: 100%;
    height: auto;
  }
  main .p1 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: p1;
    height: auto;
    max-height: 260px;
    padding: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  main .points {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: points;
    padding: 0;
  }
  main .routeMap {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: routeMap;
    height: 400px;
    width: 100%;
  }
  main .mapCaption {
    margin: 0 30px;
    margin: 0 30px;
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: mapCaption;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column no-wrap;
            flex-flow: column no-wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: cener;
        -ms-flex-align: cener;
            align-items: cener;
  }
  main .mapCaption span {
    font-size: 1.6rem;
  }
  main .mapCaption span:first-child {
    width: 15%;
  }
  main .mapCaption span:last-child {
    font-weight: bolder;
  }
  main .p2 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: p2;
    margin: 30px 0;
    padding: 0;
  }
  main .p3 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    grid-area: p3;
    padding: 0;
  }
  main .slider {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: slider;
    width: 100%;
    height: 440px;
  }
  main .btn.down {
    -ms-grid-row: 10;
    -ms-grid-column: 3;
    grid-area: button;
    margin: 0;
  }
}

.modyfyGrid {
      grid-template-areas: "time h4 ." "h2 h2 h2" "postImg postImg p1" "postImg postImg points" "postImg postImg ." "routeMap routeMap routeMap" "mapCaption mapCaption mapCaption" "p2 p2 p2" "slider slider p3"  "edit delete button";
}

.navChanger {
  width: 100vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
}

.navChanger div i {
  font-size: 2.5rem;
  width: 30px;
}

.navChanger ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
}

.navChanger ul li {
  font-size: 2.5rem;
  width: 30px;
}

.navChanger ul li:nth-child(2) {
  color: #CA6B4A;
}

footer {
  width: 100vw;
  background-color: #E8E8E8;
}

footer p {
  font-size: 1.4rem;
  margin: 0 30px;
  margin-top: 15px;
  text-align: justify;
}

footer .navBottom {
  font-size: 1.4rem;
  margin: 0 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

footer .navBottom div {
  font-size: 1.4rem;
  height: 2.2rem;
  line-height: 2.2rem;
}

footer .navBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .navBottom ul li {
  line-height: 2.2rem;
  font-size: 1.4rem;
  width: 25%;
  font-weight: normal;
  text-transform: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 1;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #A2A2A2;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #A2A2A2;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font-family: Open Sans, sans-serif;
  color: #777;
  height: auto;
  margin: auto;
}

header {
  width: 100vw;
  height: auto;
}
/*# sourceMappingURL=style.css.map */