#intro
    width: $main-width
    background-color: none
    img
        width: 100%
    .caption
        +center-flex
        flex-direction: column
        width: 100%
        span
            font-size: 3rem
            font-family: $header-font
            line-height: 8rem
            text-transform: uppercase
            font-weight: bold
            letter-spacing: 4px
            &::first-letter
                font-size: 4.5rem
        i
            font-size: 7rem
            color: $orange
