main
    width: $main-width

    article
        margin: 30px 0
        background-color: none
        display: grid
        grid-template-columns: 1fr 2fr
        grid-template-rows: auto
        grid-template-areas: "time h4" "h2 h2" "postImg postImg" "p1 p1" "points points" "routeMap routeMap" "mapCaption mapCaption" "p2 p2" "slider slider" "p3 p3"  "edit delete" ".. button"
        grid-gap: 10px 15px
        width: 100%
    time
        padding-left: 30px
        font-size: 1.6rem
        grid-area: time
    h4
        grid-area: h4
        font-size: 1.6rem
        text-transform: uppercase
    h2
        padding: $main-padding
        grid-area: h2
        font-size: 2.5rem
        font-weight: 600

    .postImg
        margin: $main-padding
        grid-area: postImg
        place-self: center
        width: $img-width
        height: $img-height
        border-radius: 23px
        overflow: hidden
        box-shadow:  rgba(0, 0, 0, 0.24) 2px 5px 10px
        position: relative
    img
        width: 100%
        height: 400px
        object-fit: cover
        object-position: bottom
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        left: 50%
    .p1
        grid-area: p1
        height: 4.5rem
        width: 100%
        overflow: hidden
        align-self: start
        +paragraph

    .points
        grid-area: points
        width: 100%
        padding: $main-padding
        height: 1.5rem
        +paragraph
        position: relative
        div
            position: absolute
            top: -1.7rem
            height: 1.5rem
            font-size: 1.5rem

    .routeMap
        grid-area: routeMap
        height: 400px
        width: 100%

    .mapCaption
        margin: $main-padding
        margin: $main-padding
        grid-area: mapCaption
        width: 100%
        display: flex
        flex-flow: column no-wrap
        justify-content: flex-start
        align-items: cener

        span
            font-size: 1.6rem
            &:first-child
                width: 15%
            &:last-child
                font-weight: bolder
    .p2
        grid-area: p2
        +paragraph
    .p3
        grid-area: p3
        +paragraph

    .slider
        grid-area: slider
        width: 100vw
        height: $img-height
        overflow: hidden
        position: relative
    
   

    .btn.down
        grid-area: button
        margin: 20px 30px 30px
        height: 3.6rem
        width: 16rem
        color: $bright-txt-color
        background-color: $orange
        display: flex
        flex-direction: row no-wrap
        justify-content: flex-start
        align-items: center
        justify-self: end
        border-radius: 20px
        cursor: pointer
        transition: all 0.5s ease
        div
            font-size: 1.6rem
            flex-grow: 1
            text-align: left
            margin-left: 15px
        i
            font-size: 2rem
            flex-basis: 35%
            transition: all 0.5s linear

    .btn.edit, .btn.delete
        margin: 10px 
        height: 3.6rem
        width: 12rem
        color: $dark-txt-color
      
        background-color: white !important
        +center-flex
        flex-direction: row no-wrap
        justify-self: center
        border-radius: 20px
        position: relative
        cursor: pointer
        transition: all 0.2s ease
        &:hover
            color: $red
        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 0.1rem
            background-color: $red
            opacity: 1
            transition: opacity 200ms, transform 200ms
            transform: scale(0)
            transform-origin: center
    
        &:hover::after, &:focus::after 
            transform: scale(1)


            
        div
            font-size: 1.6rem
            flex-grow: 1
            text-align: left
            margin-left: 15px
        i
            font-size: 2rem
            flex-basis: 35%
            transition: all 0.5s linear
    .edit
        grid-area: edit
    .delete
        grid-area: delete
            
.elemDisplay
    overflow: hidden
    transition: max-height 0.5s linear
    height: auto

.collapsed
    max-height: 500px !important

.hidden
    max-height: 0

.rotateHorizontal
    transform: rotateX(180deg)

.autoHeight
    height: auto !important


@media (min-device-width: 1025px)

    main
        width: 80%
        max-width: 1200px

        article
            margin: 30px 0
            grid-template-columns: 1fr 2fr 1fr
            grid-template-rows: 1fr
            grid-template-areas: "time h4 ." "h2 h2 h2" "postImg postImg p1" "postImg postImg points" "postImg postImg button" "routeMap routeMap routeMap" "mapCaption mapCaption mapCaption" "p2 p2 p2" "slider slider p3"  "edit delete ."  
            grid-gap: 5px 15px
        time
            grid-area: time
            font-size: 1.8rem
        h4
            grid-area: h4
            font-size: 1.8rem
        h2
            grid-area: h2
            font-size: 2.8rem

        .postImg
            margin: $top-padding
            grid-area: postImg
            place-self: start center
            height: $big-img-height
        img
            width: 100%
            height: auto
            
        .p1
            grid-area: p1
            height: auto
            max-height: 260px
            padding: 0
            align-self: center
        .points
            grid-area: points
            padding: 0
        .routeMap
            grid-area: routeMap
            height: 400px
            width: 100%

        .mapCaption
            margin: $main-padding
            margin: $main-padding
            grid-area: mapCaption
            width: 100%
            display: flex
            flex-flow: column no-wrap
            justify-content: flex-start
            align-items: cener

            span
                font-size: 1.6rem
                &:first-child
                    width: 15%
                &:last-child
                    font-weight: bolder
        .p2
            grid-area: p2
            margin: 30px 0
            padding: 0
        .p3
            grid-area: p3
            padding: 0
        .slider
            grid-area: slider
            width: 100%
            height: $big-img-height
        .btn.down
            grid-area: button
            margin: 0

.modyfyGrid
     grid-template-areas: "time h4 ." "h2 h2 h2" "postImg postImg p1" "postImg postImg points" "postImg postImg ." "routeMap routeMap routeMap" "mapCaption mapCaption mapCaption" "p2 p2 p2" "slider slider p3"  "edit delete button"  
