#maps

    margin: 30px 0
    width: $main-width
    background-color: none
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-template-areas: "now past" "map map" "mapInfo mapInfo" "changeBtn postBtn"
    .tag:first-child
        grid-area: now
        width: 50vw
        &:hover
            text-decoration: underline
            color: $orange
    .tag:nth-child(2)
        grid-area: past
        width: 50vw
        &:hover
            text-decoration: underline
            color: $red
    .pin.orange
        filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%)
    .pin.red
        filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%)
    .tag
        z-index: -1
        +center-flex
        flex-direction: row
        height: 7rem
        .pin
            height: 3.5rem
            width: auto
        div
            font-size: 2.5rem
            font-family: $header-font
    // .now
    //     grid-area: nowPosition
    //     width: 50vw
    // .last
    //     grid-area: lastPosition
    //     width: 50vw
    //     +center-flex
    //     flex-flow: row no-wrap
    //     .arrow
    //         display: flex
    //         justify-content: center
    //         align-items: center
    //         max-width: 20px
    //         height: 3rem
    //         i
    //             height: 3rem
    //             line-height: 3rem
    //             font-size: 1.8rem

        .flex-scroll
            display: flex
            flex-wrap: nowrap
            overflow-x: auto
            -webkit-overflow-scrolling: touch
            -ms-overflow-style: -ms-autohiding-scrollbar
            div
                flex: 0 0 auto
                max-width: 160px
                flex-basis: 100%
                align-self: center
                text-align: center
                font-size: 2.5rem
    .positionLi
        flex-basis: 50%
        height: 3rem
        font-size: 2.5rem
        font-family: $header-font
        display: flex
        justify-content: center
        align-items: flex-start
    .map
        z-index: 1
        grid-area: map
        display: flex
        justify-content: center
        align-items: flex-start
        width: 100%

    #chartdiv
        width: 90%
        height: 60vh

    .mapInfo
        margin: $main-padding
        grid-area: mapInfo
        display: flex
        justify-content: flex-start
        align-items: center
        font-size: 3rem
        font-family: $header-font

    .btn
        margin: 2rem 0 3rem 0
        height: 4rem
        width: 16rem
        font-family: $header-font
        color: $bright-txt-color
        background-color: $orange
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        border-radius: 20px
        place-self: center
        cursor: pointer
        transition: all .3s
        &:active
            color: #fff
            background-color: darken($red, 5%)
        // &:hover, &:active
        //     -webkit-tap-highlight-color: rgba(0,0,0,0)
        //     -webkit-user-select: none
        //     -webkit-touch-callout: none /*only to disable context menu on long press*/

        div
            font-size: 2.8rem
            flex-grow: 1
            line-height: 3rem
            text-align: left
            margin-left: 15px

        i
            font-size: 2.2rem
            flex-basis: 25%
    
           

    .btn:first-child
        grid-area: changeBtn

    .btn:last-child
        grid-area: postBtn


.animateLeftArrow
    animation: arrow-move-left 4s linear infinite 

.animateExclamation
   animation: shake 1.2s cubic-bezier(.16,.07,.19,.50)  infinite 
    transform: translate3d(0, 0, 0)
    backface-visibility: hidden
    perspective: 1000px