#maps
    width: $main-width
    background-color: none
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-template-areas: "now past" "map map" "changeBtn postBtn"

    .tag:first-child
        grid-area: now
    .tag:last-child
        grid-area: past
    .pin.orange
        filter: invert(83%) sepia(35%) saturate(2053%) hue-rotate(322deg) brightness(104%) contrast(101%)
    .pin.red
        filter: invert(71%) sepia(49%) saturate(4487%) hue-rotate(328deg) brightness(85%) contrast(84%)
    .tag
        +center-flex
        flex-direction: row
        height: 8rem
        .pin
            height: 4rem
            width: auto
        div
            font-size: 3rem
            font-family: $header-font

    .map
        grid-column: 1/3
        grid-row: 2/3
        grid-area: map
        display: inline-block
        text-align: center
        width: 100vw
        padding: 10px 25px
      

    #map
      
        fill: $light-gray
        path:hover
            cursor: pointer
            fill: $dark-txt-color

    .btn
        margin: 2rem 0 3rem 0
        height: 4rem
        width: 16rem
        font-family: $header-font
        color: $bright-txt-color
        background-color: $orange
        display: flex
        flex-direction: row
        justify-content: stretch
        align-items: center
        border-radius: 20px
        place-self: center
        cursor: pointer
        div
            font-size: 3rem
            flex-grow: 1

        i
            font-size: 2.5rem
            flex-basis: 20%

    .btn:first-child
        grid-area: changeBtn

    .btn:last-child
        grid-area: postBtn
